@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.sm\:h-\[20rem\] {
  height: unset !important;
}

p.mt-2.leading-relaxed.text-gray-700.dark\:text-white\/70 {
  margin-bottom: 1rem;
}
